* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }

body {
    background-color: var(--bg-color);
}

/* :root {
    --primary-color: #3498db;
    --secondary-color: #933e00;
    --accent-color: #fece69;
    --text-color: #333;
    --bg-color: #fff7de;
    --header-color: #c45300;
    --border-radius: 8px;
    --transition: all 0.3s ease;
  } */

:root {
    --primary-color: #007acc;
    --secondary-color: #005f99;
    --accent-color: #ffffff;
    --text-color: #333;
    --bg-color: #e6f7ff;
    --header-color: #c45300;
    --border-radius: 8px;
    --hover: #00bcd4;
    --transition: all 0.3s ease;

}


.services {
    display: flexbox;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 1vw;
    margin-right: 2vw;
    margin-top: 0;
    text-align: center;
    resize: both;
}
.services a {
    font-size: 1.2vw;
    text-decoration: none;
    border-radius: 16px;
    padding: 0.5vw;
    white-space: nowrap;
}
.service_button {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.service_button a:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.notcurrent {
    color: var(--accent-color)
}

.current {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.main-content {
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

form {
    margin-top: 0vw;
    width: 100%;
}
legend {
    font-weight: bold;
}

.drop-zone {
    border: 2px dashed var(--secondary-color);
    border-radius: 24px;
    align-content: center;
    align-items: center;
    padding: 1vw;
    width: 100%;
    height: fit-content;
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    position: relative;
}
.drop-zone p {
    color: var(--secondary-color);
    font-size: 1.2vw;
}

.drop-zone input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.drop-zone:hover {
    background-color: var(--bg-color);
}

.upload-btn {
    cursor: pointer;
}

#file-status {
    color: var(--secondary-color);
    font-size: 1.2vw;
    padding-top: 0.5vw;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.panel-left {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 24px;
    margin-top: 1vw;
    margin-right: 1vw;
    padding: 2vw;
    padding-top: 1vw;
    width: 50%;
    font-size: 1.2vw;
}

.panel-right {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 24px;
    margin-top: 1vw;
    margin-left: 1vw;
    padding:2vw;
    padding-top: 1vw;
    width: 50%;
    font-size: 1.2vw;
    text-align: center;
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.option-check {
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    background-color: var(--accent-color);
    padding: 0.5vw;
    color: var(--secondary-color);
    font-size: 1vw;
    transition: var(--transition);
}
.option-check.selected {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 2px dashed var(--accent-color);
}
.option-check:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    transform: translateY(-2px);
}
fieldset {
    border-radius: 16px;
    border: 2px solid var(--secondary-color);
    padding: 3px;
    align-items: center;
    text-align: center;
}

.remove-btn {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 1vw;
    border-radius: 16px;
    border:solid;
    padding: 0.5vw;
    transition: var(--transition);
}
.remove-btn:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transform: translateY(-2px);
}
.add-btn {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 1vw;
    border-radius: 16px;
    border:solid;
    padding: 0.5vw;
    transition: var(--transition);
}
.add-btn:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transform: translateY(-2px);
}
.instructor-entry input {
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 0.5vw;
    margin: 0.25vw;
    border-radius: 16px;
    border: 2px solid var(--secondary-color);
    width: 40%;
}

.remember-panel {
    display: flex;
    gap: 2vw;
}
.remember-panel button {
    width: 50%;
    margin-top: 1vw;
}
.submit-btn {
    width: 100%;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 16px;
    padding: 0.5vw;
    transition: var(--transition);
    border: 2px solid #ffffff00;
}
.submit-btn:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-2px);
}